h1 {
color: fuchsia
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 2px solid rgb(156, 44, 156);
    background-color: violet
}

#spanId {
    font-size: 18px;
    margin: 50px;
}